*{
  margin: 0;
  padding: 0;
  font: 30px "Qwitcher Grypen", "Helvetica Neue", Helvetica sans-serif;  
}
body {
  border: 2px solid;
  background-image: url("../img/fondo1.jpg") no-repeat cover;
  /* background-attachment: fixed; */
}

header {
  border: 2px solid;
  height: 120px;
  display: flex;
}

#img-logo {
  border: 2px solid;
  width: 15vw;  
/* float: left; */
   
}

#img-logo img {
  width:100%;  
}

#marca-logo {
  border: 2px solid;
  display: flex;
}

#marca-logo h1{
  font-size: 2em;
}

#botonera-principal {
   border: 2px solid yellow;
   display: flex;
   float: right;
  }

#botonera-principal ul {
  padding: 0;
  margin: 0;
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  float: right;
}

#botonera-principal li {
  border: 2px solid;
  list-style: none
  
}

#botonera-principal a {
  line-height: 80px;
  padding: 1px 20px;
  margin-bottom: 1px;
  border: 2px solid;
  text-decoration: none;
  transition: .5s;
  /* font-size: 2vw;   */
}

section {
  border: 2px solid;
  height: 450px;
}
